.consent {
    text-align: left;
    background-color: white;
    margin-bottom: 100px;
  }
  
.title {
    font-family: 'ABeeZee';
    color: black;
    margin: 50px
  }
  
.body {
    color: black;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
  }